ion-img {
  height: 200px;
  object-fit: fill;
}

ion-img::part(image) {
  border-radius: 15px;
}

ion-label {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  bottom: 25%;
  font-size: 2.2vh;
  font-weight: bold;
}

.gradient {
  position: absolute;
  text-align: center;
  width: 96%;
  height: 96%;
  bottom: 2%;
  font-size: 2.2vh;
  font-weight: bold;
  border-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    rgba(229, 93, 135, 0.25),
    rgba(95, 195, 228, 0.25)
  );
}
