<app-header [title]="'Favourites'"> </app-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of list">
        <div>
          <ion-img [src]="item.image"></ion-img>
          <div class="gradient"></div>
          <ion-label>{{item.name}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
