ion-item {
  border: 1px solid var(--ion-color-secondary);
  border-radius: 5px;
  --padding-top: 7px;
  --padding-bottom: 7px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

ion-card {
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #141e30 0%, #243b55 100%);
}

ion-slides {
  --bullet-background: #87c3e4;
  --bullet-background-active: var(--ion-color-secondary);
}

.add-new {
  color: rgba($color: #fff, $alpha: 0.7);
  font-weight: bold;
  font-size: 1.7vh;
}

.brand {
  max-width: 40%;
  float: right;
}

.chip {
  ion-icon {
    max-width: 50px;
    padding-top: 5%;
    border-radius: 10% !important;
    overflow: hidden;
  }
}

.ellipse {
  font-size: 1.2vh;
  color: rgba($color: #fff, $alpha: 0.7);
}

.logo {
  width: 15%;
}

.placeholder {
  color: gray;
  font-size: 1.4vh;
  margin-bottom: 5px;
}
