<app-header
  [title]="'Payment Methods'"
  [backVisible]="true"
  [menuVisible]="false"
  [searchVisible]="false"
></app-header>

<ion-content color="primary">
  <ion-item
    lines="none"
    class="ion-margin-horizontal"
    color="dark"
    class="add-new-content"
  >
    <h5 class="add-new">Add New Methods</h5>
    <ion-icon
      class="add-new"
      style="font-size: 2.2vh"
      name="chevron-forward"
      slot="end"
    ></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h4 class="ion-text-center">Credit Cards</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-slides loop="false" pager="true" [options]="slidesConfig">
          <ion-slide
            mode="ios"
            *ngFor="let card of cards"
            (click)="goToSteps()"
          >
            <ion-card color="dark" class="ion-no-margin">
              <ion-card-content class="ion-margin-top">
                <ion-img
                  class="logo"
                  src="../../../assets/icon/visa.png"
                ></ion-img>
                <ion-row
                  class="ion-margin-top ion-padding-top ion-margin-bottom"
                >
                  <ion-col size="3">
                    <ion-text>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                    </ion-text>
                  </ion-col>

                  <ion-col size="3">
                    <ion-text>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                    </ion-text>
                  </ion-col>

                  <ion-col size="3">
                    <ion-text>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                      <ion-icon class="ellipse" name="ellipse"></ion-icon>
                    </ion-text>
                  </ion-col>

                  <ion-col size="3">
                    <ion-text class="ellipse" style="font-size: 2vh">
                      2678
                    </ion-text>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="9">
                    <ion-label class="ion-text-start">
                      <p class="placeholder">CARDHOLDER</p>
                      <h2>TONY NGUYEN</h2>
                    </ion-label>
                  </ion-col>

                  <ion-col size="3">
                    <ion-label>
                      <p class="placeholder">EXPIRES</p>
                      <h2>04/23</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          color="secondary"
          expand="block"
          (click)="goToHome()"
          class="ion-margin-start ion-margin-end ion-margin-top"
          >$865 Pay Now</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
