<ion-item color="dark">
  <ion-icon name="location-outline" color="tertiary"></ion-icon>
  <ion-label
    color="light"
    class="ion-margin-start ion-margin-top ion-margin-bottom"
  >
    <!-- <h2 class="title">{{ item.title }}</h2> -->
    <h2 class="title">Upcoming Reservation</h2>

    <!-- <p>{{ item.location }}</p> -->
    <p>Abu Dhabi</p>

    <!-- <p class="duration">{{ item.date_time }}</p> -->
    <p class="duration">Fir, 08 May - Sat, 17 May</p>

    <!-- <p class="description">{{ item.description }}</p> -->
    <p class="description">Hotel Reservation and Flight booked</p>
  </ion-label>
</ion-item>
