ion-item {
  --border-radius: 15px;
}

.title {
  color: var(--ion-color-tertiary);
  font-weight: bold;
  margin-bottom: 10px;
}

.duration {
  font-size: 10px;
  color: red;
  margin-top: 3px;
}

.description {
  margin-top: 10px;
  font-size: 12px;
}
