<ion-content color="primary">
  <div class="bg">
    <div class="overlay">
      <ion-icon
        class="back-icon"
        name="chevron-back"
        (click)="goBack()"
      ></ion-icon>
      <div class="content-view">
        <ion-item class="ion-no-padding" color="dark" lines="none">
          <ion-label>
            <ion-icon
              *ngFor="let n of [1, 2, 3, 4, 5]"
              [name]="5 <= n ? 'star-outline' : 'star'"
              [color]="5 <= n ? 'tertiary' : ''"
            ></ion-icon>

            <ion-text style="margin-left: 10px; font-size: 1.4vh"
              >2.6k
            </ion-text>

            <ion-text style="font-size: 1.4vh; color: gray">Reviews </ion-text>
          </ion-label>
        </ion-item>

        <ion-item class="ion-no-padding" color="dark" lines="none">
          <ion-label>
            <h2 style="font-size: 2.4vh">Sky High Hotel, Dubai.</h2>
            <ion-icon name="location" color="secondary"></ion-icon>
            <ion-text class="location">Abu Dhabi, Dubai.</ion-text>
          </ion-label>
        </ion-item>

        <div class="scrolling-wrapper ion-margin-top">
          <div
            class="category"
            *ngFor="let item of categories"
            (click)="categorySelected(item)"
          >
            <ion-label>
              <ion-text
                [color]="item.isSelected == true ? 'secondary' : 'light'"
              >
                {{item.name}}
              </ion-text>
            </ion-label>
          </div>
        </div>

        <p class="detail">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>

        <ion-button
          color="secondary"
          expand="block"
          (click)="goToSearchFlights()"
          >$421 Book Now</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
