ion-button {
  --border-radius: 7px;
}

.bg {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/Images/tower2-bg.jpeg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.back-icon {
  margin-top: 50px;
  margin-left: 15px;
  font-size: 2.5vh;
  color: rgba($color: #fff, $alpha: 0.7);
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(3, 3, 3, 0.6);
}

.content-view {
  position: absolute;
  top: 60%;
  width: 100%;
  background-color: var(--ion-color-dark);
  height: 40%;
  padding: 20px;
}

.location {
  font-size: 1.5vh;
  color: gray;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  // margin-top: -10px;
  .card {
    display: inline-block;
    width: 70%;
    // margin-left: 10px;
  }

  .category {
    display: inline-block;
    width: 25%;
    margin-left: 5px;
  }
}

.detail {
  color: #747373;
  font-size: 1.4vh;
}
