<ion-item color="dark" lines="none" class="ion-no-padding">
  <ion-img [src]="item.image"> </ion-img>
  <ion-label style="margin-left: 40px">
    <h2 style="font-size: 2.5vh">{{ item.name }}</h2>
    <ion-icon
      *ngFor="let n of [1, 2, 3, 4, 5]"
      [name]="item.rating <= n ? 'star-outline' : 'star'"
      [color]="item.rating <= n ? 'tertiary' : ''"
    ></ion-icon>

    <p
      style="
        color: var(--ion-color-secondary);
        font-size: 1.8vh;
        margin-top: 5px;
      "
    >
      {{ item.rate }} <ion-text color="light">&nbsp; / &nbsp; </ion-text>
      <ion-text style="color: gray; font-size: 1.3vh; font-weight: bold">
        Per Night</ion-text
      >
    </p>
  </ion-label>

  <div class="location-div center">
    <ion-icon name="navigate"></ion-icon>
  </div>
</ion-item>
