ion-item {
  --border-radius: 5px;
}

ion-img {
  width: 140px;
  height: 130px;
  object-fit: fill;
}

.location-div {
  background-color: var(--ion-color-secondary);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  left: 120px;
}
