<!-- <div class="bg-white">
  <div class="top-bg"></div>
  <ion-grid style="margin-top: -140px">
    <ion-row>
      <ion-col size="9">
        <ion-label class="title">
          <ion-icon
            class="back-btn"
            name="arrow-back-circle"
            (click)="goBack()"
          ></ion-icon>
          {{ title }}
        </ion-label>
      </ion-col>
      <ion-col size="1.5">
        <ion-icon class="side-icon" name="person-circle-outline"></ion-icon>
      </ion-col>

      <ion-col size="1.5">
        <ion-icon class="side-icon" name="notifications-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="searchVisible">
      <ion-searchbar placeholder="Search Products"></ion-searchbar>
    </ion-row>
  </ion-grid>
</div> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-item
      color="primary"
      lines="none"
      class="ion-margin-top ion-padding-top"
    >
      <ion-icon name="menu-outline" *ngIf="menuVisible"></ion-icon>
      <ion-icon
        name="chevron-back-outline"
        (click)="goBack()"
        *ngIf="backVisible"
      ></ion-icon>

      <ion-title> {{ title }}</ion-title>

      <ion-icon
        slot="end"
        name="search-outline"
        *ngIf="searchVisible"
        (click)="search()"
      ></ion-icon>
      <ion-icon slot="end" name="pencil-outline" *ngIf="editVisible"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
