ion-title {
  font-size: 3vh;
}

ion-searchbar {
  --border-radius: 20px;
  --background: black;
  --color: white;
  margin-top: 10px;
}

.toolbar {
  padding: 10px 0px;
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.back-btn {
  font-size: larger;
}

.side-icon {
  font-size: 28px;
}

.back-icon {
  font-size: 28px;
  /* margin-top: 7px; */
}

.top-bg {
  background-color: var(--ion-color-primary);
  height: 190px;
  border-radius: 25px;
  //   position: absolute;
  //   z-index: 1;
}
.curve-bottom-red {
  position: absolute;
  bottom: -14px;
  z-index: 1;
  height: 25px;
  left: 0;
  right: 0;
  background: var(--ion-color-primary);
  border-radius: 0 0 15px 15px;
}
