.bg {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/Images/tower2-bg.jpeg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(3, 3, 3, 0.6);

  //   radial-gradient(
  //     circle,
  //     rgba(3, 3, 3, 0.484) 30%,
  //     rgba(0, 0, 0, 0.573) 35%,
  //     rgba(0, 0, 0, 0.374) 100%
  //   );
}

.gradient {
  position: absolute;
  text-align: center;
  width: 96%;
  height: 96%;
  bottom: 2%;
  font-size: 2.2vh;
  font-weight: bold;
  border-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    rgba(229, 93, 135, 0.25),
    rgba(95, 195, 228, 0.25)
  );
}

.book-btn {
  width: 100px;
  height: 37px;
  --border-radius: 5px;
}

.back-btn {
  position: absolute;
  top: 4%;
  left: 2%;
}
.side-icons {
  position: absolute;
  top: 4%;
  right: 20px;
}

.icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2vh;
}
.icon {
  margin: 10%;
  width: 30px;
  height: 30px;
  background-color: rgb(29, 28, 28);
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 1vh;
}

.date-time-div {
  width: 90%;
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;

  .dt-internal-div {
    background-color: red;
    border: 1.5px solid var(--ion-color-secondary);
    border-radius: 20px;
    background-color: var(--ion-color-dark);
    padding: 20px;
  }
}

.date-time {
  background-color: white;
  border-radius: 5px;
  color: #0a0a0b;
}

.add-remov-btn {
  width: 45px;
  height: 40px;
}

.persons-count-div {
  background-color: var(--ion-color-secondary);
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.info-div {
  width: 70%;
  height: 25vh;
  border: 1.5px solid var(--ion-color-secondary);
  border-radius: 20px;
  background-color: var(--ion-color-dark);
  position: absolute;
  bottom: 15%;
  left: 15%;
  right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  h2 {
    color: white;
  }
  p {
    margin: -5% 0 0 0;
    text-align: center;
    color: white;
    font-size: 12px;
    width: 80%;
    line-height: 1.5;
  }

  ion-button {
    border-radius: 20px !important;
    margin: 0 0 8% 0 !important;
    width: 80%;
  }
}

.swip-pera {
  position: absolute;
  bottom: 2%;
  left: 35%;
  color: rgba($color: #fff, $alpha: 0.6);
  font-size: 10px;
  border-bottom: 4px solid rgba($color: #fff, $alpha: 0.7);
  border-radius: 5px;
}
.under-line {
  width: 25%;
  border-radius: 20px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 2.5%;
  left: 38.5%;
}

// Second Screen start
.center-div {
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 0%;

  h2 {
    margin: 0 0 0 2%;
    color: white;
  }
  p {
    margin: 0 0 2% 2%;
    color: white;
    text-align: start;
    width: 80%;
    font-size: 12px;
    line-height: 2;
  }
  ion-button {
    margin: 0 0 8% 2%;
    width: 50%;
  }

  .bottom-div {
    width: 100vw;
    height: 50vh;
    background-color: var(--ion-color-primary);

    h2 {
      position: relative;
      top: 5%;
      margin: 10% 0 0 3%;
    }
    .des-pera {
      margin: 5% 0 0 3%;
      color: #888888;
    }
    .modal-img {
      margin: 8% 0 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      img {
        width: 40%;
        margin: 0 3%;
        height: 200px;
        border-radius: 20px;
      }
    }
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // margin-top: -10px;
    .card {
      display: inline-block;
      width: 70%;
      // margin-left: 10px;
    }

    .item {
      display: inline-block;
      width: 40%;
      // margin-left: 10px;
    }
  }

  .icon-size {
    font-size: 17px;
    margin-top: 20px;
  }
  .img-des {
    position: absolute;
    bottom: 40px;
    left: 60px;
    width: 90px;
    color: white;

    p {
      font-size: 12px;
      margin: -10% 0 0 0;
    }
  }
}
// Second Screen End
