<ion-content color="primary">
  <div class="bg">
    <div class="overlay">
      <div class="back-btn" (click)="back()">
        <ion-icon
          size="large"
          class="icon"
          name="chevron-back-outline"
        ></ion-icon>
      </div>

      <div class="side-icons">
        <div class="icon-div">
          <ion-icon
            size="large"
            class="icon"
            name="ellipsis-horizontal-outline"
          ></ion-icon>
        </div>
        <div class="icon-div" [hidden]="step != 1">
          <ion-icon
            size="large"
            class="icon"
            name="person-add-outline"
          ></ion-icon>
          Invite
        </div>
        <div class="icon-div" [hidden]="step != 1" style="margin-top: 10px">
          <ion-icon size="large" class="icon" name="heart-outline"></ion-icon>
          573
        </div>
        <div class="icon-div" [hidden]="step != 1" style="margin-top: 10px">
          <ion-icon
            size="large"
            class="icon"
            name="chatbox-ellipses-outline"
          ></ion-icon>
          126
        </div>
      </div>
      <div class="info-div" [hidden]="step != 1">
        <h2>Dubai</h2>
        <p style="font-size: 1.3vh">
          The city setting is stunning with a wonderful architecure and
          historical sights and heritage setting.
        </p>
        <ion-button color="secondary" expand="block" (click)="next()"
          >Book a trip</ion-button
        >
      </div>

      <!-- Step 3 -->
      <div [hidden]="step != 3" class="date-time-div">
        <h2>Dubai</h2>
        <div class="dt-internal-div">
          <p style="font-size: 1.3vh; margin-left: 5px">Select date and time</p>
          <ion-grid>
            <ion-row>
              <ion-col size="7" class="ion-no-padding">
                <div class="date-time">
                  <ion-datetime value="2022-01-27"></ion-datetime>
                </div>
              </ion-col>

              <ion-col size="4.3" class="ion-no-padding ion-margin-start">
                <div class="date-time">
                  <ion-datetime
                    value="2022-01-27"
                    presentation="time"
                  ></ion-datetime>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p style="font-size: 1.3vh; margin-left: 5px">How many people?</p>

          <ion-item lines="none" color="dark" class="ion-no-padding">
            <ion-button
              color="light"
              class="add-remov-btn"
              (click)="addRemovePerson(false)"
            >
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>

            <div class="persons-count-div">{{person_count}}</div>

            <ion-button
              color="light"
              class="add-remov-btn"
              (click)="addRemovePerson(true)"
            >
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-button
            color="secondary"
            expand="block"
            (click)="goToHotels()"
            class="ion-margin-top"
            >Check Availability</ion-button
          >
        </div>
      </div>
      <div [hidden]="step != 1" class="swip-pera">
        <p>SWIPE FOR DETAILS</p>
      </div>

      <!-- <div class="under-line" [hidden]="step != 1"></div> -->

      <div class="center-div" [hidden]="step != 2">
        <div style="margin-left: 2%">
          <h2>Dubai</h2>
          <p style="font-size: 1.2vh; margin-top: 10px">
            The city setting is stunning with a wonderful architecure and
            historical sights and heritage setting.
          </p>
          <ion-button
            color="secondary"
            expand="block"
            class="book-btn"
            (click)="next()"
            >Book</ion-button
          >
        </div>
        <div class="bottom-div">
          <h2>Popular destinations</h2>
          <p class="des-pera">Most popular Abu Dhabi-area attractions</p>
          <ion-row>
            <div class="scrolling-wrapper">
              <div
                style="
                  width: 45%;
                  position: relative;
                  border-radius: 15px;
                  margin-top: 30px;
                  position: relative;
                "
              >
                <ion-col *ngFor="let item of [1,2,3,4]">
                  <img
                    style="
                      width: 150px;
                      height: 220px;
                      border-radius: 20px;
                      object-fit: cover;
                      margin: 0 3%;
                      object-position: center;
                    "
                    src="../../../assets/Images/tower1-bg.jpg"
                  />
                  <div class="img-des">
                    <p>Abu Dhabi Grand</p>
                    <p>Building Towers</p>
                  </div>
                  <ion-row style="position: absolute; bottom: 0; left: 15px">
                  </ion-row>
                </ion-col>
              </div>
            </div>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
