.header-jumbotron {
  background: var(--ion-color-light);
}

.header-jumbotron {
  padding-top: 25px;
}
.header-jumbotron img {
  margin: 20px 20px;
  border-radius: 50%;
}
.header-jumbotron ion-item {
  position: absolute;
  top: calc(50% - 8px);
  left: 20px;
  transform: translateY(-50%);
}
.menu-list {
  margin-top: 40px;
  ion-item {
    margin-top: 10px;
    h2 {
      font-weight: bold;
    }
  }
}

.list-header-heading {
  font-size: 18px;
}

.box-list {
  ion-list-header {
    padding-bottom: 10px;
  }
  ion-item {
    border-top: 1px solid #e5e5e5;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .custom-checkbox {
    --background: url(/assets/images/checkbox.png);
    --background-checked: url(/assets/images/checkbox-roung.png);
  }
}
