<app-header [title]="'Notifications'"></app-header>

<ion-content>
  <ion-card>
    <ion-list class="box-list">

      <ion-item lines="none">
        <!-- <ion-checkbox class="custom-checkbox"></ion-checkbox> -->
        <ion-label class="ion-text-wrap">
          <p class="f-pop-m ">No New Notifications ...</p>
        </ion-label>
      </ion-item>


    </ion-list>
  </ion-card>
</ion-content>
