<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="nav.pop()">
        <ion-icon color="medium" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="signup">
  <ion-grid class="marginTop ion-padding ion-margin">
    <ion-row class="ion-text-center">
      <ion-col>
        <img src="assets/applogo.png" />
        <!-- <p class="f-pop-r subheading">
          <ion-text color="medium">Add Your Details To Create Account</ion-text>
        </p> -->
        <h3 class="signUpFont" style="color: white">Sign Up</h3>
      </ion-col>
    </ion-row>

    <!-- <div class="Font namePosition">
      <p>Name</p>
    </div>
    <div class="Font emailPosition">
      <p>Email</p>
    </div>
    <div class="Font phonePosition">
      <p>Phone</p>
    </div>
    <div class="Font dobPosition">
      <p>Date of Birth</p>
    </div>
    <div class="Font passwordPosition">
      <p>Password</p>
    </div>
    <div class="Font conPasPosition">
      <p>Confirm Password</p>
    </div> -->

    <ion-row>
      <ion-col size="12" class="box-outer">
        <p class="title-box">Name</p>
        <ion-input placeholder="Jhon Epam" class="input"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="box-outer">
        <p class="title-box">Email</p>
        <ion-input placeholder="example@gmail.com" class="input"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="box-outer">
        <p class="title-box">Phone</p>
        <ion-input placeholder="Phone Number" class="input"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="box-outer">
        <p class="title-box">Date of Birth</p>
        <ion-input placeholder="mm/dd/yyyy" class="input"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="eye-icon-box-outer">
        <p class="title-password-box">Password</p>
        <ion-input
          placeholder="Password"
          type="password"
          class="input"
        ></ion-input>
        <ion-icon class="eye-icon-box" name="eye-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="eye-icon-box-outer">
        <p class="title-password-box">Confirm Password</p>
        <ion-input placeholder="Password" class="input"></ion-input>
        <ion-icon class="eye-icon-box" name="eye-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="block" color="secondary" (click)="singUp()">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="openLogin()" fill="clear">
            <ion-text
              class="f-pop-m"
              color="light"
              style="margin-right: 5px; font-size: 14px"
            >
              Already Have an Account?
            </ion-text>
            <ion-text class="f-pop-m" style="font-size: 14px" color="secondary">
              Login
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
