.heading {
  font-size: 28px;
  margin-bottom: 0;
}

.subheading {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.signup {
  --background: var(--ion-color-primary);
}
.signUp {
  color: "tertiary";
}

.input {
  // --padding-top: 10px;
  --padding-start: 20px;
  font-size: 13px;
  height: 50px;
  color: white;
  --placeholder-color: #8d8d8d;
}
.marginTop {
  margin-top: 10%;
}
.namePosition {
  position: absolute;
  top: 29%;
  left: 8%;
}
.emailPosition {
  position: absolute;
  top: 36.8%;
  left: 8%;
}
.phonePosition {
  position: absolute;
  top: 44.6%;
  left: 8%;
}
.dobPosition {
  position: absolute;
  top: 52.6%;
  left: 8%;
}
.passwordPosition {
  position: absolute;
  top: 60.4%;
  left: 8%;
}
.conPasPosition {
  position: absolute;
  top: 68.2%;
  left: 8%;
}
.Font {
  color: white;
  font-size: 9pt;
  z-index: 10;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  // margin-top: -2px;
  // --background: "primary";
  background-color: var(--ion-color-primary);
}
.eye-icon-box-outer {
  position: relative;
  .eye-icon-box {
    position: absolute;
    top: 29px;
    right: 20px;
    color: var(--ion-color-medium);
    font-size: 20px;
  }
  .title-password-box {
    bottom: 35px;
    left: 15px;
    position: absolute;
    color: white;
    font-size: 9pt;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--ion-color-primary);
  }
}
.box-outer {
  position: relative;
  .title-box {
    bottom: 35px;
    left: 15px;
    position: absolute;
    color: rgba($color: #fff, $alpha: 0.6);
    font-size: 9pt;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--ion-color-primary);
  }
}

// .btn {
//   height: 60px;
//   font-weight: 900;
//   font-size: 1.2rem;
// }
