<ion-content color="primary">
  <ion-item color="primary">
    <ion-label>
      <h2 class="title">Hello, Jhon epam</h2>
      <p class="peragraph">What's your current location?</p>
    </ion-label>
  </ion-item>
  <ion-item color="dark" class="ion-margin">
    <ion-input placeholder="Area or Pin code"> </ion-input>
    <ion-icon name="search-outline" slot="end" color="secondary"></ion-icon>
  </ion-item>
  <div class="map">
    <div #map id="map"></div>
  </div>
  <div class="footer">
    <ion-label>
      <h3 class="footer-title">The Ritz London</h3>
      <p class="footer-peragraph">St. Jame's London W2J 9BR</p>
    </ion-label>

    <ion-button
      class="footer-btn ion-margin-top"
      color="secondary"
      expand="block"
      (click)="saveLocation()"
    >
      <ion-icon name="send" style="margin-right: 10px"></ion-icon>
      Save Location</ion-button
    >
  </div>
</ion-content>
