ion-input {
  font-size: 1.6vh;
}

ion-item {
  --padding-top: 7px;
  --padding-bottom: 7px;
}

.title {
  font-size: 1.5rem;
}
.peragraph {
  color: rgb(145, 137, 137) !important;
  margin: 2% 0 0 0;
}
.map {
  margin: 10% 0 0 0;
  width: 100%;
  height: 65%;
  // height: 45vh;
  background-color: rgb(26, 23, 23);
}
.footer {
  background-color: var(--ion-color-primary);
  position: absolute;
  bottom: 0%;
  width: 100%;
  //height: 30vh;
  border-radius: 30px 30px 0 0;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: -10% 0 0 0;
}
.footer-title {
  font-size: 1.2rem;
  top: 20%;
  left: 5%;
}
.footer-peragraph {
  font-size: 14px;
  margin-top: 10px;
  color: rgb(145, 137, 137) !important;
}

.footer-btn {
  --border-radius: 8px;
  width: 100%;
  height: 50px;
}
