img.center-logo-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // opacity: 0.5;
  object-fit: cover;
  object-position: center;
}
.gridTop {
  position: absolute;
  // top: 10%;
  // left: 34%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.gridBottom {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundColor {
  background-color: black;
  width: 100%;
  height: 100%;
  // position: relative;
}
.dark-background {
  --background: black;
  // background-image: url("assets/backgroundImage.jpg");
}
.fontColor {
  color: white;
}
// .topShadow {
//   width: 350px;
//   height: 200px;
//   // border: solid 1px #555;
//   // background-color: #eed;
//   // box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.6);
//   -moz-box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.6);
//   // -webkit-box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.6);
//   // -o-box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.6);
// }

// position: absolute;
// top: 0;
// bottom: 0;
// left: 0;
// right: 0;
// height: 100%;
// width: 100%;
// object-fit: cover;
// object-position: center;
// opacity: 0.3;
// }
