<ion-content fullscreen="true" (click)="goTo()">
  <!-- <div class="splash-outer">
    <img src="assets/BgImage2.jpg" class="center-logo-image" />
  </div> -->

  <img src="assets/backgroundImage.jpg" class="center-logo-image" />
  <div class="backgroundColor">
    <ion-grid class="gridTop">
      <ion-row>
        <ion-col>
          <img src="assets/applogo.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="gridBottom topShadow">
      <ion-row>
        <ion-col class="ion-text-center">
          <h2 class="fontColor">Explore the world</h2>
          <p class="fontColor">Make now your time to live a good life</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
