<app-header [title]="'Trips'" [showMenu]="true" [back]="false"> </app-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of trips" class="ion-margin-top">
        <!-- <trip [item]="item"></trip> -->
        <trip></trip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
