<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="nav.pop()">
        <ion-icon color="medium" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content class="login">
  <ion-grid class="ion-margin">
    <ion-row class="ion-text-center marginTop">
      <ion-col>
        <img src="assets/applogo.png" />
        <!-- <p class="f-pop-r subheading">
          <ion-text color="medium">Login</ion-text>
        </p> -->
        <h3 class="loginFont">Login</h3>
      </ion-col>
    </ion-row>

    <!-- <div class="emailFont">
      <p>Email</p>
    </div>
    <div class="passwordFont">
      <p>Password</p>
    </div> -->

    <form [formGroup]="aForm">
      <ion-row>
        <ion-col size="12" class="email-box-outer">
          <p class="emailFont">Email</p>
          <ion-input
            formControlName="email"
            class="input f-pop-li"
            placeholder="Email Address"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="eye-icon-box-outer">
          <p class="passwordFont">Password</p>
          <ion-input
            formControlName="password"
            type="password"
            class="input f-pop-li"
            placeholder="Password"
          >
          </ion-input>
          <ion-icon class="eye-icon-box" name="eye-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="secondary" fill="clear"
          >Forgot password?</ion-button
        >
        <!-- <ion-text color="primary" class="f-pop-m"> Click here </ion-text> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          class="btn"
          expand="block"
          color="secondary"
          (click)="login()"
        >
          <ion-text class="pd"> Login </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- <div style="height: 30px"></div> -->

    <ion-row class="social-div ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-text color="medium" style="color: #cccccc">Or</ion-text>
        <br />
        <!-- <ion-text class="f-pop-m">Continue With Social Media</ion-text> -->
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">
        <ion-button
          expand="block"
          class="social-btn"
          style="--background: #395895"
          shape="round"
        >
          <ion-icon name="logo-facebook"></ion-icon>
          <span class="ion-margin-horizontal"> | </span>
          Login With Facebook
        </ion-button>
      </ion-col>
    </ion-row> -->

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button expand="block" class="btn social-btn" color="light">
          <ion-img
            class="ion-margin-right"
            src="assets/google.png"
            style="height: 35px"
          ></ion-img>
          <ion-text class="pd"> Login With Google </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="openSignup()" fill="clear">
            <ion-text class="f-pop-m" style="font-size: 14px" color="light">
              Don't Have an Account?
            </ion-text>
            <ion-text
              class="f-pop-m"
              style="font-size: 14px; margin-left: 5px"
              color="secondary"
            >
              Sign Up
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
