.heading {
  font-size: 28px;
  margin-bottom: 0;
}
.login {
  --background: var(--ion-color-primary);
}
.gridStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginFont {
  color: rgba($color: #fff, $alpha: 0.8);
  // font-weight: 800;
}
.social-btn {
  font-weight: bold;
  color: black;
}
// .emailFont {
//   position: absolute;
//   top: 30.5%;
//   left: 11%;
//   color: white;
//   font-size: 9pt;
//   z-index: 10;
//   padding-left: 5px;
//   padding-right: 5px;
//   background-color: var(--ion-color-primary);
// }
.passwordFont {
  position: absolute;
  top: 38.3%;
  left: 11%;
  color: white;
  font-size: 9pt;
  z-index: 10;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #222222;
}
.subheading {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.marginTop {
  margin-top: 10%;
}

.input {
  --padding-start: 20px;
  font-size: 13px;
  height: 50px;
  --placeholder-color: var(--ion-color-medium);
  color: white;
}

.eye-icon-box-outer {
  position: relative;
  .eye-icon-box {
    position: absolute;
    top: 29px;
    right: 20px;
    color: var(--ion-color-medium);
    font-size: 20px;
  }
  .passwordFont {
    // bottom: 100px;
    top: -5px;
    left: 15px;
    position: absolute;
    color: rgba($color: #fff, $alpha: 0.6);
    font-size: 9pt;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--ion-color-primary);
  }
}
.email-box-outer {
  position: relative;
  .emailFont {
    bottom: 35px;
    left: 15px;
    position: absolute;
    color: rgba($color: #fff, $alpha: 0.6);
    font-size: 9pt;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--ion-color-primary);
  }
}

.btn {
  height: 48px;
}

// .pd {
//   padding: 10px;
// }
