<ion-header>
  <ion-item color="primary">
    <ion-icon
      name="close-outline"
      class="ion-margin-end ion-margin-top"
      (click)="close()"
    ></ion-icon>
    <ion-input placeholder="Search Destination" class="ion-margin-top">
    </ion-input>
    <ion-icon
      name="search-outline"
      slot="end"
      color="secondary"
      class="ion-margin-top"
    ></ion-icon>
  </ion-item>
</ion-header>

<ion-content color="primary">
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" *ngFor="let item of list">
        <destination [item]="item"></destination>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
