<ion-menu menuId="main" contentId="main">

  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Flock Travel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <ion-list class="menu-list ion-no-padding">
      <ion-item color="primary" (click)="goTo('explore')">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-title>
          Explore
        </ion-title>
      </ion-item>
      <ion-item color="primary" (click)="goTo('trips')">
        <ion-icon name="globe-outline"></ion-icon>
        <ion-title>
          Trips
        </ion-title>
      </ion-item>
      <ion-item color="primary" (click)="goTo('saved')">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-title>
          Saved
        </ion-title>
      </ion-item>
      <ion-item color="primary" (click)="goTo('messages')">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <ion-title>
          Inbox
        </ion-title>
      </ion-item>

      <!-- <ion-item (click)="goTo('profile')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-title>
          Profile
        </ion-title>
      </ion-item> -->

      <ion-item color="primary" (click)="goTo('profile')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-title>
          Profile
        </ion-title>
      </ion-item>  

      <!-- <ion-item (click)="goTo('change-password')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-title>
          Change Password
        </ion-title>
      </ion-item> -->

      <!-- <ion-item (click)="logOut()">
        <ion-title>
          Log out
        </ion-title>
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app id="main">
  <ion-router-outlet></ion-router-outlet>
</ion-app>
