<ion-header>
  <ion-toolbar color="primary" class="ion-padding-top">
    <ion-item
      class="ion-margin-top ion-padding-top"
      color="primary"
      class="ion-justify-content-center ion-align-items-center"
    >
      <ion-icon name="chevron-back"></ion-icon>
      <ion-label class="ion-text-center">
        California
        <ion-text class="ion-margin-horizontal"
          ><ion-icon name="airplane" class="plane"></ion-icon
        ></ion-text>
        <ion-text>Dubai</ion-text>
        <p
          style="color: gray; font-size: 1.3vh; font-weight: 700"
          class="details"
        >
          <ion-text>
            08 May &nbsp;&nbsp;
            <ion-icon name="ellipse" style="font-size: 4px"></ion-icon>

            &nbsp;&nbsp; 02 Adult &nbsp;&nbsp;
            <ion-icon name="ellipse" style="font-size: 4px"></ion-icon>
            &nbsp;&nbsp;Econmy
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="ion-padding-top ion-padding">
  <h2 style="font-size: 1.3vh; color: gray">SHOWING 20 DIRECT FLIGHTS</h2>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        *ngFor="let item of flights"
        class="ion-no-padding ion-margin-top"
      >
        <flight [item]="item" (click)="getFlightDetails()"></flight>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
