// ion-searchbar {
//   --border-radius: 20px;
//   --background: black;
//   --color: white;
//   margin-top: 10px;
// }

// ion-slides {
//   --bullet-background-active: white;
// }
.segment-font-color {
  color: var(--ion-color-tertiary);
}

.header-padding-top {
  padding-top: 50px;
}
.list-image {
  border-radius: 20px;
  // margin-top: 15px;
  // height: 150px;
  flex-shrink: 0;
  // min-width: 100%;
  // min-height: 100%;
}
.tab-item {
  --background: #fff;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.destination-img {
  height: 250px;
  object-fit: cover;
  --border-radius: 10px;
}

ion-img::part(image) {
  border-radius: 15px;
}

ion-img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  // margin-top: -10px;
  .card {
    display: inline-block;
    width: 70%;
    // margin-left: 10px;
  }

  .category {
    display: inline-block;
    width: 25%;
    margin-left: 5px;
  }

  .item {
    display: inline-block;
    width: 40%;
    // margin-left: 10px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sildeStyle {
  width: 70%;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.sildeStyle2 {
  width: 40%;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.heart-box-outer {
  position: relative;
  .heart-box {
    position: absolute;
    top: 10px;
    right: 90px;
    color: var(--ion-color-tertiary);
    font-size: 30px;
  }
  .image-Title-Text {
    position: absolute;
    left: 90px;
    color: var(--ion-color-tertiary);
    bottom: 35px;
  }
  .image-Location-Text {
    position: absolute;
    left: 85px;
    color: var(--ion-color-tertiary);
    bottom: 0;
  }
  .heart-box2 {
    position: absolute;
    top: 10px;
    right: 160px;
    color: var(--ion-color-tertiary);
    font-size: 30px;
  }
  .image-Title-Text2 {
    position: absolute;
    left: 160px;
    color: var(--ion-color-tertiary);
    bottom: 35px;
  }
  .image-Location-Text2 {
    position: absolute;
    left: 153px;
    color: var(--ion-color-tertiary);
    bottom: 0;
  }
  .icon-size {
    font-size: 17px;
    margin-top: 20px;
  }
}
.divStyle {
  width: 70%;
  height: 250px;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  .firstimage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
  .countryTitle {
    position: absolute;
    bottom: 25px;
    left: 15px;
  }
  .icon {
    position: absolute;
    bottom: 230px;
    right: 15px;
    font-size: 22px;
  }
  .rowStyle {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
}
.divStyle2 {
  width: 45%;
  height: 300px;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  .firstimage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
  .countryTitle {
    position: absolute;
    bottom: 25px;
    left: 15px;
  }
  .icon {
    position: absolute;
    bottom: 280px;
    right: 15px;
    font-size: 22px;
  }
  .rowStyle {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
}
.vendor-slide {
  // background-color: #dedede !important;
  width: 50% !important;
  // margin: 0 auto;
  height: 280px !important;
  border-radius: 10px;
}
ion-slides {
  // --bullet-background: transparent;
  // --bullet-background-active: var(--ion-color-gray-shade);
  .slidestyle {
    background-color: #dedede !important;
    width: 100% !important;
    margin: 0 auto;
    border-radius: 10px;
  }
  ion-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }
}
.slider-image-ratio {
  // height: 250px !important;
  // width: 250px !important;
}
ion-slides {
  // --bullet-background: transparent;
  // --bullet-background-active: var(--ion-color-gray-shade);
  border-radius: 15px;

  ion-slide img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
}

.outerClass {
  position: relative;
  margin-left: 15px;
  border-radius: 20px;
  .textStyle {
    position: absolute;
    bottom: 20px !important;
    font-weight: bold;
    font-size: 2.1vh;
    left: 15px;
  }
  .icon2 {
    position: absolute;
    // bottom: 230px;
    top: 10px;
    right: 15px;
    font-size: 22px;
  }
  .rowStyle2 {
    position: absolute;
    bottom: 0;
    left: 12px;
    display: flex;
    align-items: center;
  }
  .icon-size2 {
    font-size: 15px;
    // margin-top: 20px !important;
  }
}

.unSelectedCategory {
  color: black;
}

.selectedCategory {
  color: var(--ion-color-tertiary);
}

.category {
  font-size: 2vh;
}

// .top-bg {
//   background-color: var(--ion-color-primary);
//   height: 300px;
//   border-radius: 25px;
//   margin-top: -50px;
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 250px;
// }

// .title {
//   font-weight: 900;
//   font-size: 1.5rem;
//   color: white;
// }

// .side-icon {
//   font-size: 40px;
//   color: white;
// }

// .image {
//   border-radius: 20px;
//   width: "100%";
//   margin-top: 15px;
//   height: 220px;
// }

// .details-btn {
//   position: absoulute;
//   bottom: 8px;
//   left: 16px;
// }

// .slides {
//   background-image: url("../../../assets/car.jpg");
//   height: 220px;
//   border-radius: 20px;
//   width: 93%;
//   margin-top: 15px;
// }

// .center {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%;
// }

// .list-header {
//   margin-top: 20px;
//   font-weight: bold;
//   margin-left: 5px;
// }

// .list-row {
//   // white-space: nowrap;
//   // overflow-x: auto !important;
//   flex-wrap: nowrap;
//   overflow-x: scroll !important;
//   overflow-y: hidden;
// }

// .list-image {
//   border-radius: 20px;
//   margin-top: 15px;
//   height: 150px;
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

// .content {
//   width: 90%;
// }

// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;
//   margin-top: -10px;
//   .card {
//     display: inline-block;
//     width: 80%;
//     margin-left: 10px;
//   }
// }

// .scrolling-wrapper::-webkit-scrollbar {
//   display: none;
// }

// .scrolling-wrapper-flexbox {
//   display: flex;
//   flex-wrap: nowrap;
//   overflow-x: hidden;

//   .card {
//     flex: 0 0 auto;
//   }
// }

// .list-btn {
//   width: auto;
// }

// .tab-item {
//   --background: #fff;
//   padding: 5px 20px;
//   text-align: center;
//   text-transform: uppercase;
//   font-size: 12px;
//   ion-img {
//     width: 30px;
//     margin: 0 auto;
//   }
// }
