<app-header [title]="'Discover'"> </app-header>

<ion-content color="primary">
  <!-- <ion-button color="primary" expand="block" (click)="openCurrentLocModal()">Add Location</ion-button>
  <ion-button color="primary" expand="block" (click)="bookInit()">Book Initial</ion-button> -->
  <!-- <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="trend">
      <ion-label class="segment-font-color">Trend</ion-label>
    </ion-segment-button>
    <ion-segment-button value="featured">
      <ion-label class="segment-font-color">featured</ion-label>
    </ion-segment-button>
    <ion-segment-button value="top-visit">
      <ion-label class="segment-font-color">Top Visit</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-grid class="ion-padding-top">
    <div class="scrolling-wrapper ion-margin-top">
      <div
        class="category"
        *ngFor="let item of categories"
        (click)="categorySelected(item)"
      >
        <ion-label>
          <ion-text [color]="item.selected == true ? 'secondary' : 'light'">
            {{item.name}}
          </ion-text>
        </ion-label>
        <!-- <h3 class="category">{{item.name}}</h3> -->
      </div>
    </div>

    <ion-row class="ion-margin-top ion-padding-top">
      <!-- <ion-col size="8"> -->
      <ion-slides loop="true" pager="false" [options]="slidesConfig">
        <ion-slide
          mode="ios"
          *ngFor="let item of destinations"
          (click)="goToSteps()"
        >
          <div class="outerClass">
            <img class="slider-image-ratio" [src]="item.image" />
            <ion-icon class="icon2" name="heart-outline"></ion-icon>
            <h3 class="textStyle">{{item.name}}</h3>

            <ion-row class="rowStyle2">
              <ion-icon class="icon-size2" name="location-outline"></ion-icon>
              <p style="font-size: 1.5vh">{{item.location}}</p>
            </ion-row>
          </div>
        </ion-slide>
      </ion-slides>
      <!-- </ion-col> -->
    </ion-row>

    <!-- <ion-row class="ion-margin-top">
      <div class="scrolling-wrapper">
        <div class="divStyle">
          <ion-col *ngFor="let item of adventures">
            <img class="firstimage" [src]="item.image" />
            <h3 class="countryTitle">Dubai</h3>
            <ion-icon class="icon" name="heart-outline"></ion-icon>
            <ion-row class="rowStyle">
              <ion-icon
                style="margin-top: 15px"
                class="icon-size"
                name="location-outline"
              ></ion-icon>
              <p>Location</p>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </ion-row> -->

    <ion-row class="ion-margin-top">
      <ion-col size="9.8">
        <h3 style="padding-left: 10px">Popular Destinations</h3>
      </ion-col>
      <ion-col siz="2" class="ion-margin-top" (click)="openDestinations()">
        <ion-label color="secondary"> See All </ion-label>
      </ion-col>
    </ion-row>

    <div class="scrolling-wrapper ion-margin-top">
      <div
        class="item outerClass"
        *ngFor="let item of destinations"
        (click)="goToSteps()"
      >
        <ion-img class="destination-img" [src]="item.image"> </ion-img>
        <ion-icon class="icon2" name="heart-outline"></ion-icon>
        <h3 class="textStyle">{{item.name}}</h3>

        <ion-row class="rowStyle2">
          <ion-icon class="icon-size2" name="location-outline"></ion-icon>
          <p style="font-size: 1.5vh">{{item.location}}</p>
        </ion-row>
      </div>
    </div>

    <!-- <ion-row>
      <div class="scrolling-wrapper">
        <div class="divStyle2">
          <ion-col *ngFor="let item of adventures">
            <img class="firstimage" [src]="item.image" />
            <h3 class="countryTitle">Dubai</h3>
            <ion-icon class="icon" name="heart-outline"></ion-icon>
            <ion-row class="rowStyle">
              <ion-icon
                style="margin-top: 15px"
                class="icon-size"
                name="location-outline"
              ></ion-icon>
              <p>Location</p>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </ion-row> -->
  </ion-grid>
</ion-content>
