<ion-card class="ion-no-margin ion-margin-start margin-top cardBorder">
  <ion-img [src]="item.image"></ion-img>
  <ion-card-content class="ion-no-padding">
    <ion-item lines="none" class="ion-no-padding" color="primary">
      <ion-card-subtitle color="light" class="m-l-10 fontStyle">{{
        item.name
      }}</ion-card-subtitle>
      <ion-icon
        *ngIf="item.selected"
        name="checkmark-circle-outline"
        slot="end"
        color="secondary"
      ></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>
