ion-img {
  height: 140px;
  width: 100%;
  object-fit: fill;
}
.color {
  background-color: black;
}
.cardBorder {
  border-radius: 15px;
}
.margin-top {
  margin-top: 20px;
}
.fontStyle {
  font-size: 14px;
}
