<ion-grid>
  <ion-row>
    <ion-col size="1.5">
      <div class="left-div">
        <ion-icon
          name="ellipse"
          style="font-size: 1.5vh"
          color="secondary"
        ></ion-icon>
        <div class="dashed-border"></div>
        <ion-icon class="plane" name="airplane" color="secondary"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <ion-label>
        <h2 class="title">{{ item.from }}</h2>
        <p class="sub-title">Departure:{{ item.departure }}</p>
      </ion-label>

      <ion-item color="dark" class="ion-no-padding ion-margin-vertical">
        <ion-label class="ion-margin-start ion-margin-top" color="light">
          <p class="duration" style="color: gray">{{ item.codes }}</p>

          <h2 class="time" style="margin-top: 10px">{{ item.time }}</h2>

          <p class="duration" style="color: gray">{{ item.duration }}</p>

          <p
            class="duration"
            style="
              color: gray;
              font-size: 1.4vh;
              margin-top: 20px;
              margin-bottom: 10px;
            "
          >
            <ion-text>
              <ion-icon name="airplane"></ion-icon>
              {{ item.flight }}
            </ion-text>
          </p>
        </ion-label>

        <ion-label class="ion-margin-start" color="light" slot="end">
          <ion-text slot="end" class="fair">{{ item.fair }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-label class="ion-padding-top">
        <h2 class="title">{{ item.to }}</h2>
        <p class="sub-title">Arrival:{{ item.arrival }}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
