ion-item {
  --border-radius: 10px;
}
.dashed-border {
  border-left: 2px dashed var(--ion-color-secondary);
  margin-top: -2px;
  height: 190px;
}

.plane {
  transform: rotate(90deg);
  font-size: 3vh;
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgba($color: #fff, $alpha: 0.6);
  font-weight: bold;
}

.sub-title {
  color: gray;
  font-size: 1.5vh;
  margin-top: 5px;
}

.time {
  color: rgba($color: #fff, $alpha: 0.7);
  font-size: 1.7vh;
  font-weight: 600;
}

.duration {
  font-size: 1.4vh;
  margin-top: 5px;
  color: gray;
}

.fair {
  color: rgba($color: #fff, $alpha: 0.6);
}
