.date-time-div {
  width: 90%;
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;

  .internal-div {
    border: 1.5px solid var(--ion-color-secondary);
    border-radius: 20px;
    background-color: var(--ion-color-dark);
  }
}

.details-btn {
  width: 220px;
  margin-bottom: 30px;
  --border-radius: 5px;
}

ion-img::part(image) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
  object-fit: fill;
}
