<app-header
  [title]="'Direct'"
  [searchVisible]="false"
  [backVisible]="true"
  [menuVisible]="false"
>
</app-header>

<ion-content color="primary">
  <div class="date-time-div">
    <h2>Hotels in Dubai</h2>
    <div class="internal-div">
      <!-- <p style="font-size: 1.3vh; margin-left: 5px">Select date and time</p> -->
      <ion-img src="assets/Images/DUBAI.jpg"></ion-img>
      <ion-item color="dark" class="ion-margin-top">
        <ion-label color="light">
          <h2 style="font-size: 2vh">Sky Hotel, Dubai</h2>
          <p style="font-size: 1.3vh; margin-top: 5px">
            Abu Dhabi, Dubai
            <ion-text color="secondary" class="ion-margin-start"
              >$20.44
            </ion-text>
            <ion-text color="light">&nbsp; / &nbsp; </ion-text>
            <ion-text style="color: gray; font-size: 1.3vh; font-weight: bold">
              Per Night</ion-text
            >
          </p>
        </ion-label>
      </ion-item>

      <ion-button
        color="secondary"
        (click)="goToHotelDetail()"
        class="ion-margin-start ion-margin-bottom details-btn"
      >
        See Details</ion-button
      >
    </div>
  </div>
</ion-content>
