ion-input {
  width: 10px;
}

.content-view {
  background-color: var(--ion-color-dark);
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  padding-top: 15px;
  margin-bottom: 35px;
}

.internal-view {
  border: 2px solid var(--ion-color-secondary);
  border-radius: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
}

.location {
  color: gray;
  font-size: 1.3vh;
}

.placeholder {
  font-size: 1.5vh;
  color: gray;
  margin-bottom: 10px;
  font-weight: bold;
}

.city {
  font-size: 1.8vh;
}

.bottom-border {
  border-bottom: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}

.instruction {
  color: #888787;
  font-size: 1.5vh;
  font-weight: 600;
}
