<app-header
  [title]="'Search Flights'"
  [backVisible]="true"
  [menuVisible]="false"
  [searchVisible]="false"
>
</app-header>
<ion-content color="primary">
  <div class="content-view">
    <ion-grid>
      <ion-row class="ion-padding-start">
        <ion-col
          size="4"
          *ngFor="let item of ways"
          (click)="typeSelected(item)"
        >
          <ion-label [color]="item.is_selected ? 'secondary' : 'light'">
            <b>{{item.name}} </b></ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="12" class="ion-no-padding">
          <div class="internal-view">
            <ion-row class="bottom-border" class="ion-no-padding">
              <ion-col size="4">
                <ion-item lines="none" color="dark">
                  <ion-label>
                    <h2 class="placeholder">FROM</h2>
                    <h2 class="city">California</h2>
                    <p style="color: gray; font-size: 1.3vh">United States</p>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="4" class="center">
                <ion-icon name="airplane"></ion-icon>
              </ion-col>

              <ion-col size="4">
                <ion-item lines="none" color="dark">
                  <ion-label class="ion-text-end">
                    <h2 class="placeholder">TO</h2>
                    <h2 class="city">Abu Dhabi</h2>
                    <p style="color: gray; font-size: 1.3vh">Dubai</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="bottom-border" class="ion-no-padding">
              <ion-col size="6">
                <ion-item lines="none" color="dark">
                  <ion-label>
                    <h2 class="placeholder">TRAVEL DATE</h2>
                    <ion-datetime
                      class="ion-no-padding"
                      value="2022-01-15T13:47:20.789"
                    ></ion-datetime>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item lines="none" color="dark">
                  <ion-label class="ion-text-end">
                    <h2 class="placeholder">RETURN</h2>
                    <ion-datetime
                      class="ion-no-padding"
                      value="2022-01-15T13:47:20.789"
                    ></ion-datetime>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="bottom-border" class="ion-no-padding">
              <ion-col size="7.5">
                <ion-item lines="none" color="dark">
                  <ion-label>
                    <h2 class="placeholder">TRAVELLER</h2>
                    <ion-item color="dark" class="ion-no-padding">
                      <ion-input
                        type="number"
                        placeholder="1"
                        [(ngModel)]="adults"
                      ></ion-input>
                      <h2 class="city">Adult</h2>
                    </ion-item>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="4.5">
                <ion-item lines="none" color="dark">
                  <ion-label class="ion-text-end">
                    <h2 class="placeholder">CLASS</h2>
                  </ion-label>
                </ion-item>
                <ion-select placeholder="Select">
                  <ion-select-option value="econmy">ECONMY</ion-select-option>
                  <ion-select-option value="business"
                    >BUSINESS</ion-select-option
                  >
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row class="ion-margin-bottom">
              <ion-col size="12">
                <ion-item color="dark">
                  <ion-checkbox color="secondary" checked="true"></ion-checkbox>
                  <ion-label class="instruction"
                    >Show Direct Flights Only</ion-label
                  >
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button
    color="secondary"
    expand="block"
    (click)="searchFlights()"
    class="ion-margin-start ion-margin-end ion-margin-top"
    >Search Flights</ion-button
  >
</ion-content>
