<ion-item color="primary" lines="none">
  <ion-icon name="location" color="secondary"></ion-icon>
  <ion-label class="ion-margin-start" color="secondary">
    <h2 class="location">{{ item.location }}</h2>
    <p class="country">{{ item.name }}</p>
  </ion-label>
</ion-item>
