<app-header
  [title]="'Flights Details'"
  [backVisible]="true"
  [menuVisible]="false"
  [searchVisible]="false"
></app-header>
<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of list">
        <flight-detail [item]="item" class="ion-margin-top"></flight-detail>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          color="secondary"
          expand="block"
          (click)="bookNow()"
          class="ion-margin-start ion-margin-end ion-margin-top"
          >Book Now</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
