<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar color="primary" selectedTab="explore" slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Explore</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="trips">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Trips</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
