ion-tab-bar {
  height: 75px;
  // --background: transparent;


}

ion-tab-button {
  --color-selected: var(--ion-color-primary);
}

.center-icon {
  background: red;
  padding: 10px;
  border: 1px solid red;
  border-radius: 50px;
}
