ion-avatar {
  width: 100px;
  height: 100px;
  align-self: center;
}

ion-item {
  --color: var(--ion-color-primary);
  --border-color: red;
}

.capture {
  position: absolute;
  left: 56%;
  bottom: 45%;
  background-color: #c6cedd;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 1px solid white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-size: 3vh;
}

.left-content {
  font-size: 1.7vh;
  color: #656565;
}

.right-content {
  font-size: 1.7vh;
  color: var(--ion-color-tertiary);
}
