<app-header [title]="'Trips'" [editVisible]="true" [searchVisible]="false">
</app-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row class="ion-margin-top ion-padding-top">
      <ion-col size="12" class="ion-text-center">
        <div class="center">
          <div class="center">
            <ion-avatar>
              <img
                src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
              />
            </ion-avatar>
            <div class="capture">
              <ion-icon size="2" name="camera"></ion-icon>
            </div>
          </div>
          <ion-label color="light" class="ion-margin-top">
            <h2 class="name">{{user?.name}}</h2>
            <p style="color: gray; font-size: 11px; margin-top: 10px">
              {{user?.location}}
            </p>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item color="primary" class="ion-margin-top ion-padding-top">
    <ion-label class="left-content" color="light">User Name</ion-label>
    <h2 slot="end" class="right-content">{{user?.name}}</h2>
  </ion-item>

  <ion-item color="primary">
    <ion-label class="left-content" color="light">Email</ion-label>
    <h2 slot="end" class="right-content">{{user?.email}}</h2>
  </ion-item>

  <ion-item color="primary">
    <ion-label class="left-content" color="light">Phone</ion-label>
    <h2 slot="end" class="right-content">{{user?.phone}}</h2>
  </ion-item>

  <ion-item color="primary">
    <ion-label class="left-content" color="light">Date of Birth</ion-label>
    <h2 slot="end" class="right-content">{{user?.dob}}</h2>
  </ion-item>

  <ion-item color="primary">
    <ion-label class="left-content" color="light">Address</ion-label>
    <h2 slot="end" class="right-content">{{user?.address}}</h2>
  </ion-item>
</ion-content>
