<app-header
  [title]="'Hotels In Dubai'"
  [searchVisible]="false"
  [menuVisible]="false"
  [backVisible]="true"
>
</app-header>

<ion-content color="primary">
  <ion-grid class="ion-margin-top ion-padding-top">
    <ion-row>
      <ion-col size="12" *ngFor="let item of hotels">
        <hotel-row [item]="item" (click)="goToHotelLocation()"></hotel-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
