<!-- <app-header style="text-align: center; padding-top: 10%"> </app-header> -->

<ion-content color="primary ">
  <h3 class="ion-text-center ion-padding-top">Select Top 3 Destinations</h3>
  <ion-row class="ion-padding-end ion-margin-top">
    <ion-col size="6" *ngFor="let item of destinations" class="ion-no-padding">
      <destination-item
        [item]="item"
        (click)="selectItem(item)"
      ></destination-item>
    </ion-col>
  </ion-row>
  <!-- <ion-button
    expand="block"
    color="secondary"
    class="ion-margin"
    (click)="goToHome()"
    >Continue</ion-button
  > -->
</ion-content>

<ion-footer class="color">
  <ion-button
    expand="block"
    color="secondary"
    class="ion-margin"
    (click)="goToHome()"
    >Continue</ion-button
  >
</ion-footer>
