.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  margin-top: -10px;
  .card {
    display: inline-block;
    width: 70%;
    // margin-left: 10px;
  }

  .item {
    display: inline-block;
    width: 50%;
    // margin-left: 10px;
  }
}
.color {
  background-color: var(--ion-color-primary);
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

  .card {
    flex: 0 0 auto;
  }
}
