<ion-item color="dark" class="ion-no-padding">
  <ion-label class="ion-margin-start ion-margin-top" color="light">
    <h2 class="time" style="margin-top: 10px">{{ item.time }}</h2>

    <p class="duration" style="color: gray">{{ item.duration }}</p>

    <p class="duration" style="color: gray; font-size: 1.4vh; margin-top: 10px">
      <ion-text>
        <ion-icon name="airplane"></ion-icon>
        {{ item.flight }}
      </ion-text>
    </p>
  </ion-label>

  <ion-label class="ion-margin-start" color="light" slot="end">
    <h2 class="quality" style="margin-bottom: 15px">{{ item.quality }}</h2>
    <ion-text slot="end">{{ item.fair }}</ion-text>
  </ion-label>
</ion-item>
