.quality {
  color: var(--ion-color-secondary);
  text-align: end;
  font-size: 1.6vh;
  font-weight: bold;
}

.time {
  color: rgba($color: #fff, $alpha: 0.7);
  font-size: 1.7vh;
  font-weight: 600;
}

.duration {
  font-size: 1.2vh;
  margin-top: 5px;
  color: gray;
}
