.title{
    font-size: 2rem;
}
.peragraph{
    color: rgb(145, 137, 137) !important;
    margin: 2% 0 0 0;
}
.map{
    margin: 10% 0 0 0;
    width: 100%;
    height: 45vh;
    background-color: rgb(26, 23, 23);
}
.footer{
    background-color: rgb(34, 34, 36);
    width: 100%;
    height: 30vh;
    border-radius: 30px 30px 0 0;
    margin: -10% 0 0 0;
}
.footer-title{
    font-size: 1.5rem;
    position: relative;
    top: 20%;
    left: 5%;
}
.footer-peragraph{
    font-size: 14px;
    margin: 12% 0 0 5%;
    color: rgb(145, 137, 137) !important;
}

.footer-btn{
    border-radius: 30px;
    width: 90%;
    height: 45px;
    margin: 10% 5% 0 5%;
}