<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="this.modals.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="primary">
  <ion-item color="primary">
    <ion-label>
      <h2 class="title">Hello, Jhon epam</h2>
      <p class="peragraph">What's your current location?</p>
    </ion-label>
  </ion-item>
  <ion-searchbar color="dark" placeholder="Search Products"></ion-searchbar>
  <div class="map">
    <div #map id="map" style="height:100%;width:100%"></div>
  </div>
  <div class="footer">
    <h3 class="footer-title">The Ritz London</h3>
    <p class="footer-peragraph">St. Jame's London W2J 9BR</p>
    <ion-button class="footer-btn" color="secondary" expand="block">Save Location</ion-button>
  </div>
</ion-content>